@* @model IEnumerable<PieShop.Models.Pie> *@
@model PiesListViewModel


<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
    <partial name="_PieCard" model="pie"/>
}


@*
    Yukarıdaki model isimlerini kısaltmak için _ViewImport razor page'i oluşturduk.
    _ViewStart _Layout'u çağırır.
    _Layout genel template.
*@
